#game_interface {
    text-align: center;
    float: center;
}

.chip {
    height: 128px;
}

#end_state {
    text-align: center;
    float: center;
    margin-bottom: 2%;
}

/*
https://stackoverflow.com/questions/3622756/button-center-css
*/
#replay_button {
    text-align: center;
    margin: 0 auto;
    display: block;
}